.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

secrets/
.env
.ipynb_checkpoints
.DS_store
.vscode
data/

__pycache__

logs/
config/
plugins/
.astro/
backup/

airflow.yaml
kafka.yaml